#content-carrosel {
    margin-left: 8.3%;
    padding-top: 203px;
}

#models {
    
    display: flex;
    letter-spacing: -1.5px;
    text-decoration: none;
    font-size: 34px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    text-transform: uppercase;

    
}

#models-car {
    letter-spacing: -1.5px;
    text-decoration: none;
    font-size: 116px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

}

.carrosel img{
    display: inline;
    width: 100vw;
    transition: 0.15s linear;
    position: absolute;
    z-index: -1;
}


#buttons {
    display: flex;
    width: 125.990px;
    height: 50px;
    gap: 26px;
}

#buttons img {
    cursor: pointer;
    
}

.back {
    transform: translate(-100vw);
}
.mid {
    transform: translate(0);
}
.front {
    transform: translate(100vw);
}

#name-car {
    margin-top: 355px;
}

#open-car {
    width: 95vw;
    background-color: #ffffff6e;
    border: 1px solid rgba(128, 128, 128, 0.527);
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    filter: blur(100%);
    
}

#open-car:hover {
    background-color: #ffffffbb;
    transition: 0.2s linear ;
    cursor: pointer;
}

#open-car a{
    text-decoration: none;
}
