#content-carrosel {
    margin-left: 8.3%;
    padding-top: 203px;
}

#models {
    
    display: flex;
    letter-spacing: -1.5px;
    text-decoration: none;
    font-size: 34px;
    color: var(--color-white);
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

    
}

#models-car {
    letter-spacing: -1.5px;
    text-decoration: none;
    font-size: 116px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 96.280px 0 96.280px 0;
    margin-left: -3.48px;

}

.carrosel img{
    object-fit: cover;
    display: inline;
    width: 100vw;
    height: 100%;
    transition: 0.15s linear;
    position: absolute;
    z-index: -1;
    filter: brightness(30%);
}


#buttons {
    display: flex;
    width: 125.990px;
    height: 50px;
    gap: 26px;
}

#open-car {
    display: flex;
    align-items: center;
}

#open-car a {
    width: auto;
    display: flex;
    text-decoration: none;
}

#open-car p {
    width: 10px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    color: var(--color-white);
}


.back {
    transform: translate(-100vw);
}
.mid {
    transform: translate(0);
}
.front {
    transform: translate(100vw);
}