#models {
    margin: 50px 0px 20px;
    padding: 0 20px 0 20px;
    letter-spacing: -1.5px;
    text-decoration: none;
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    width: auto;
}

.carrosel img{
    display: inline;
    width: 100vw;
    transition: 0.15s linear;
    position: absolute;
}


#buttons {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 25px;

}

#buttons img {
    cursor: pointer;
}

.back {
    transform: translate(-100vw);
}
.mid {
    transform: translate(0);
}
.front {
    transform: translate(100vw);
}

#name-car {
    margin-top: 260px;
    background-color: white;
    align-items: center;
}

#open-car {
    width: 95vw;
    background-color: transparent;
    border: 1px solid gray;
    padding: 20px;
    text-transform: uppercase;
}

#button-car {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

@media (min-widht: 900px) {

}