*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

body {
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    transition: linear 1s;
}

a[ id= "scroll-btn" ]:target ~ #main article.panel {
  -webkit-transform: translateY( 0px);
  transform: translateY( 0px );
}

/* Fonts */

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Infini */
@import url(font/infini/infini-gras.otf);

/* Root */

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-clear: #FF073A;
  --color-dark: #02066F;
  --color-super-dark: #00022E;

}