*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  *::selection {
    color: var(--color-clear);
    background-color: var(--color-super-dark);
}

  html {
    scroll-behavior: smooth;
  }

body {
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
}

/* Fonts */

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Infini */
@import url(font/infini/infini-gras.otf);

/* Root */

:root {
  --color-white: #fff;
  --color-black: #181818;
  --color-clear: #ff073a;
  --color-dark: #02066F;
  --color-super-dark: #00022E;

}