body {
    overflow-y: hidden;
    
}

.name-car {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* tittle */
.name-car-div {
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: end;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #ffffff;
    background: #181818;
}


/* carrosel */
.carrosel {
    width: 100vw; 
}

.carrosel img{
    object-fit: cover;
    width: 65vw;
    height: 85vh;
    transition: 0.15s linear;
    bottom: 0;
    z-index: -1;
    position: absolute;
}

#content-carrosel {
    padding: 0;
}


/* buttons */
#buttons {
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    width: 65vw;
    cursor: pointer;

    gap: 10%;
}

.cta-right {
    display: inline-block;
    height: 50px;
    width: 50px;
    transform: scale(1);
}
  
  .hexagon, .hexagon2 {
    fill: transparent;
    stroke: var(--color-white);
    transition: fill 0.3s ease-out;
}
  
  .icon, .icon2 {
    fill: transparent;
    stroke:#ffffff;
    transition: stroke 0.3s ease-out,fill 0.3s ease-out;
}


/* move image */
.back {
    transform: translate(-65vw);
}
.mid {
    transform: translate(0);
}
.front {
    transform: translate(65vw);
}


/* color side menu */
#menu-lateral-car {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
    position: absolute;
    top:15vh;
    right: 0;
    width: 35%;
    height: 85vh;
    background: rgb(192,192,192);
    background: linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(232,232,232,1) 64%, rgba(255,255,255,1) 100%);

} 

.lista-menu{
    display: flex;
    list-style-type: none;
    width: 100%;

}
@media (max-width: 915px) {
    .lista-menu {
        flex-wrap: wrap-reverse !important;
    }
}

.lista-menu li {
    width: 100%;
    border: 1px solid rgb(175, 175, 175);
    padding: 10px 0;
    text-align: center;
    background-color: #f0f0f0;

}

.opc-off {
    opacity: 40%;
    cursor: not-allowed;
}

.opc-on {
    cursor: pointer;
}

#cores-car {
    margin: 30px 0 0 40px;
}

#save-custom {
    position: absolute;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    bottom: 10px;
    right: 10px;
    border: 1px solid rgb(175, 175, 175);
    padding: 10px 10px;
    text-align: center;
    background-color: #ddebdc;

}

